.u-section-1 {
  background-image: url("images/Offices.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 708px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 584px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 447px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 335px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 211px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 582px;
}

.u-section-2 .u-text-1 {
  margin: 20px 20px 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 121px 0 92px;
}

.u-section-2 .u-text-3 {
  margin: 20px 121px 0 92px;
}

.u-section-2 .u-custom-html-1 {
  min-height: 228px;
  height: auto;
  margin: 20px 265px 60px 305px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    font-weight: normal;
  }

  .u-section-2 .u-text-2 {
    margin-right: 13px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 13px;
    margin-left: 0;
  }

  .u-section-2 .u-custom-html-1 {
    margin-right: 165px;
    margin-left: 205px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-custom-html-1 {
    margin-right: 55px;
    margin-left: 95px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-custom-html-1 {
    margin-right: 0;
    margin-left: 0;
  }
}